#html, body {
    padding: 0;
    margin: 0;
    background-image: url('https://picserio.com/data/out/381/time-wallpapers_5872490.jpg');
}

#app {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title_timer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    text-align: center;
    color: whitesmoke;
}

/* Timer */

#timer {
    border: 1px solid black;
    padding: 12px 8px 8px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.178);
}

#event {
    width: 268px;
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

#event:focus::-webkit-input-placeholder {
    visibility: hidden;
}

#timer input {
    border: 1px solid black;
    outline: none;
    background-color: white;
}

input[type=date]::-webkit-calendar-picker-indicator {
    margin-left: 0px;
    padding-left: 0px;
}

#date {
    padding-left: 8px;
}

#time {
    padding-left: 8px;
}

#set_timer {
    height: 22px;
    float: right;
}

#set_timer:hover {
    background-color: rgb(209, 209, 209);
}

/* Saved Timers */

#saved_timers {
    width: 95%;
    margin-top: 40px;
}

#saved_timers input {
    border: none;
    margin: 0;
    font-family: monospace;
    font-size: 12pt;
    text-align: center;
}

#title_saved_timers {
    font-family: Times;
    color: whitesmoke;
    margin-left: 5px;
    text-align: center;
}

#timers {
    display: flex;
    margin: 0px 3px 0px;
    justify-content: center;
    flex-wrap: wrap;
}

label {
    font-family: monospace;
    font-size: 12pt;
}

#timers div {
    margin: 3px;
    background-color: rgba(255, 255, 255, 0.801);
    color: black;
}

.btn_delete {
    width: 20px;
    height: 20px;
    color: rgba(22, 22, 22, 0.815);
    position: relative;
    float: right;
    outline: none;
    background-color: transparent;
    padding: 0px;
    text-align: center;
}

.btn_delete:hover {
    background-color: rgb(156, 1, 1);
    border: 1px solide black;
    color: white;
}

footer {
    display: block;
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: #0D0D0D;
    bottom: 0%;
    text-align: center;
    padding: 0%;
    margin: 0%;
    color: white;
}

footer p {
    transform: translate(0%, -60%);
    font-family: monospace;
    font-size: 12pt;
    text-align: center;
}

footer p a img {
    transform: translate(-7%, 20%);
    filter: invert(100%);
}
